// Grid properties lists
$display-values: grid, inline-grid;
$align-items-values: start, center, end, stretch;
$grid-auto-flow-values: column, row, dense, column-dense, row-dense;

@mixin grid-generator($property, $values) {
  @each $value in $values {
    .#{$property}-#{$value} {
      #{$property}: #{$value};
    }
  }
}

@mixin mobile-grid-generator($property, $values) {
  @each $value in $values {
    .#{$property}-#{$value}--mobile {
      #{$property}: #{$value};
    }
  }
}

// Base Grid Classes
@include grid-generator('align-items', $align-items-values);
@include grid-generator('grid-auto-flow', $grid-auto-flow-values);
@include grid-generator('display', $display-values);

// Mobile Grid Classes in Media Query
@media (any-pointer: coarse) {
  @include mobile-grid-generator('align-items', $align-items-values);
  @include mobile-grid-generator('grid-auto-flow', $grid-auto-flow-values);
  @include mobile-grid-generator('display', $display-values);
}